body {
    margin: 0px;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,h2,p {
    margin: 0px;
}

button {
    cursor: pointer;
    border: 0px;
    padding: 0px;
}

img {
    display: block;
    width: 100%;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

.container {
    flex-grow: 1;
}

.width {
    padding-right: 10px;
    padding-left: 10px;
}