.main {
    max-width: 1200px;
    margin: 0 auto
}
.form_container {
    display: flex;
    justify-content: end
}
#form {
    margin-bottom: 10px;
}

.input_container {
    display: flex;
    background: #EDEDED;
    padding: 5px 15px;
    border-radius: 50px;
}

.input_container.focus {
    background: #ffffff;
}

#pesquisa {
    font-size: 1.5rem;
    padding: 5px 10px;
    font-family: "Roboto";
    background: #EDEDED;
}

#cont > div {
    margin-bottom: 15px;
    background: #f9f9f9;
}
#cont > div h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: 10px 0;
    background: #0054aa;
    color: #fff;
    border-radius: 4px 4px 0 0;
    font-weight: 400;

}
#cont > div p {
    padding: 15px 25px;
}
#cont > div p + p {
   border-top: 1.5px solid #e0e0e0;
}

.notFound {
    text-align: center;
}

.btn_pesquisa {
    background: #04b444;
    border-radius: 50%;
    padding: 10px;
}

.btn_pesquisa:focus {
    outline: none;
}

@media (max-width: 550px) {
    .form_container {
        justify-content: center;
    }

    #cont > div h2 {
        font-size: 1rem;
    }
}